.bicycles__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 320px) {
  .bicycles__box {
    flex-direction: column;
    gap: 0;
  }
}
