@media screen and (max-width: 320px) {
  .circles {
    width: 22px;
    height: 10px;
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    gap: 5px;
    margin-top: 18px;
  }
}
