.preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  align-items: start;
}


@media screen and (max-width: 1068px) {
  .preview {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .preview {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
