.preview__link {
  max-width: 160px;
  margin: 0 0 167px 0;
  padding: 16px 10px;
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  background-color: #24b47e;
  border-radius: 4px;
}

.preview__link:hover {
  box-shadow: 0 0 0 10px rgba(9, 206, 75, 0);
  animation: pulse 1.3s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #09c63b;
    color: #09c63b;
  }
}

@media screen and (max-width: 320px) {
  .preview__link {
    padding: 14px 62px 13px;
    margin-bottom: 40px;
  }
}
