@media screen and (max-width: 320px) {
  .circles__dot {
    width: 4px;
    height: 4px;
    background: #cacaca;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    /* display: inline-block; */
    /* height: 4px; */
    /* margin: 0; */
    /* position: relative; */
    /* width: 4px; */
    /* border-radius: 50%; */
    /* background: #cacaca; */
  }
}
