.highway__gallery-btn_direction_right::before {
  content: "";
  background: url(../../../../images/arrow.svg) no-repeat center;
  transform: scale(1, -1);
  position: absolute;
  top: 0;
  left: 3px;
  right: 0;
  bottom: 0;
}
