.highway__gallery-btn_direction_right::before {
  content: "";
  background: url(../../../../images/arrow_right.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: 3px;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 320px) {
  .highway__gallery-btn_direction_right::before {
    background: url(../../../../images/arrow_right_adaptive.svg) no-repeat center;
  }
}
