.bicycles__img {
  margin-bottom: 16px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
  transition: 0.5s;
  cursor: pointer;
  background: #f4f4f4;
}

.bicycles__img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 590px) {
  .bicycles__img {
    display: none;
  }
}
