.highway__gallery-btn_direction_left::before {
  content: "";
  background: url(../../../../images/arrow.svg) no-repeat center;
  transform: scale(-1, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 3px;
  bottom: 0;
}
