.training {
  padding: 150px 120px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  align-items: start;
}

@media screen and (max-width: 1068px) {
  .training {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

@media screen and (max-width: 590px) {
  .training {
    padding: 77px 18px 60px;
  }
}


@media screen and (max-width: 320px) {
  .training {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}
