.bicycles__card {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bicycles__card:hover .bicycles__text-link {
  color: #24b473;
}

@media screen and (max-width: 320px) {
  .bicycles__card {
    padding-top: 0px;
    opacity: 0;
    position: absolute;
  }
}
