.highway__gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 40px;
  position: relative;
}

.highway__gallery::after {
  content: "";
  background: url(../../../images/gallery_green.svg) no-repeat;
  background-position: bottom 16px left 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 16px;
  left: 0;
}
