.bicycles__text-link {
  margin: 0 0 0 5px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
}

@media screen and (max-width: 590px) {
  .bicycles__text-link {
    /* display: block; */
    position: absolute;
    /* left: 72px; */
    bottom: 35px;
    z-index: 1;
    /* margin: 0; */
    font-size: 14px;
    line-height: 18px;
    /* left: 50%; */
    display: flex;
    /* align-items: center;
    justify-items: center; */
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* bottom: 20px; */
    margin-left: 0;
  }
}
